<!-- HEADER -->
<header>
    <!-- MENU BLOCK -->
    <div class="menu_block">

        <!-- CONTAINER -->
        <div class="container clearfix">

            <!-- LOGO -->
            <div class="logo pull-left">
                <a href="/index.html">
                    <span></span>
                </a>
            </div><!-- //LOGO -->

            <!-- SEARCH FORM -->
            <!-- <div id="search-form" class="pull-right">
                <form method="get" action="#">
                    <input type="text" name="Search" value="Search" onFocus="if (this.value == 'Search')
                                                    this.value = '';" onBlur="if (this.value == '')
                                                                this.value = 'Search';" />
                </form>
            </div>-->
            <!-- SEARCH FORM -->

            <!-- MENU -->
            <div class="pull-right">
                <nav class="navmenu center">
                    <ul>
                        <li class="first active scroll_btn"><a href="/index.html#home" >Home</a></li>
                        <li class="scroll_btn"><a href="/index.html#about" >About Us</a></li>
                        <li class="scroll_btn"><a href="/index.html#projects" >Projects</a></li>
                        <li class="scroll_btn"><a href="/index.html#team" >Team</a></li>
                        <li class="scroll_btn"><a href="/index.html#news" >News</a></li>
                        <li class="scroll_btn last"><a href="/index.html#contacts" >Contacts</a></li>
                        <li><a href="/blog" >Blog</a></li>
                    </ul>
                </nav>
            </div><!-- //MENU -->
        </div><!-- //MENU BLOCK -->
    </div><!-- //CONTAINER -->
</header><!-- //HEADER -->
